extends base
block append headcontent
        meta(name="viewport",content='width=device-width,initial-scale=1')
block append bodycontent
        div(class="wrapper")
            div(class="container" style="height:100%")
                div(style="height:30%")
                div
                    nav
                        h2 Now Ordering A Car!
